@font-face {
    font-family: WorkAvec;
    src: url(../font/WorkAvec-Medium.ttf);
}

body{
  font:18px/1.2em WorkAvec, sans-serif;
  letter-spacing: 0.01em;
  background:black;
  overflow: hidden;
}

#container{
  /* background-color: gray; */
  position: relative;
  margin-top: 40px;
  position:absolute;
  height:calc(100vh - 40px);
}

.big{
  width:98%;
}

.small{
  width:66%;
}

/* project circles:  */

.project{
  /* sticky position looks funny */
  position: relative;
  height:18px;
  width:18px;
  border-radius: 50%;
  background-color: white;
}

.project_title{
  position: absolute;
  color: white;
  padding-left: 30px;
  width:200px;
  display: none;
}

.project_link:visited>.project{
  background-color: red;
}

.project:hover{
  background-color: green;
}

.project:hover .project_title{
  display: inline;
}

.text{
  /* float: left; */
  position: relative;
  /* padding: 40px 40px; */
  margin: 10px 40px;
  font-size: 14px;
}

h1{
  font-size: 18px;
}

/* for the show text button: */

#about{
  z-index: 1;
  overflow:auto;
  position: absolute;
  background-color: white;
  margin-top: 0;
  width: 34%;
  height: 100%;
}

.hideText{
  margin-left: 98%;
  transition: all 1s;
}

.showText{
  margin-left: 66%;
  transition: all 1s;
}

.arrow_right {
  position: fixed;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 15px solid black;
  margin-top:45vh;
}

.arrow_right:hover{
    border-left: 15px solid green;
}

/* for the back arrow: */

.arrow_left{
  position:fixed;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 15px solid white;
  top:45vh;
  left:1vh;
}

.arrow_left:hover{
    border-right: 15px solid green;
}

/* for the navbar: */

a{
  text-decoration: none;
  color:white;
}

a:hover{
  color:green;
}

ul{
  list-style-type: none;
}

li{
  position: absolute;
  top: 10px;
  display: inline;
}

#title{
  position: absolute;
  left: 10px;
}

/* for the project page, general settings: */

.img_con{
  position: absolute;
  height: 85%;
  width: 85%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* background-color: white; */

}

.images{
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}


/* for the safe place big images: */

#sp_1{

}
