@font-face {
    font-family: WorkAvec;
    src: url(../font/WorkAvec-Medium.ttf);
}

body{
  font:18px/1.2em WorkAvec, sans-serif;
  letter-spacing: 0.01em;
  background:black;
  overflow: hidden;
  cursor:auto;
}

.nodisplay{
  display: none;
}

#circle_container{
  position:absolute;
  margin-top:40px;
  margin-left:40px;
  height:calc(100vh - 80px);
  z-index:-5;
}

#container{
  position:absolute;
  top:0;
  height:100vh;
  z-index:-5;
}

.big_circles{width:calc(100vw - 80px); transition: all 1s;}

.big{width:100vw; transition: all 1s;}

.small_circles{width:calc(66vw - 80px); transition: all 1s;}

.small{width:66vw; transition: all 1s;}

/* style navbar on start*/

a{
  text-decoration: none;
  color:white;
}

a:hover{
  color: gray;
}

.nav{
  list-style-type: none;
  z-index: 1;
}

.nav_item{
  position: absolute;
  top: 10px;
  display: inline;
}

#title{
  position: absolute;
  top:10px;
  color:white;
  left: 20px;
}

#rearange{
  position: absolute;
  right: 20px;
}

#close{
  position: absolute;
  right: 20px;
  display:none;
  z-index: 2;
}

.black{
  color:black;
}


/* project circles:  */

/* .project_link{position: relative;} */

.project{
  position: absolute;
  height:18px;
  width:18px;
  border-radius: 50%;
  background-color: white;
}

.project_title{
  position: absolute;
  color: white;
  padding-left: 30px;
  width:200px;
  display: none;
}

.project:hover .project_title{display: inline;}

/* individual colors of projects on startpage: */

.project_link:visited #np{background-color: #FFA500;}
#np:hover{background-color: #FFA500;}

.project_link:visited #rb{background-color: #4169E1;}
#rb:hover{background-color: #4169E1;}

.project_link:visited #sh{background-color: #20B2AA;}
#sh:hover{background-color: #20B2AA;}

.project_link:visited #sp{background-color: #FF6347;}
#sp:hover{background-color: #FF6347;}

.project_link:visited #tg{background-color: #BA55D3;}
#tg:hover{background-color: #BA55D3;}

.project_link:visited #vh{background-color: #228B22;}
#vh:hover{background-color: #228B22;}


/* for the show text button: */

#info{
  z-index: 1;
  overflow:auto;
  position: absolute;
  background-color: white;
  margin-top: 0;
  width: 35%;
  height: 100%;
}

.hideText{
  margin-left: 100%;
  transition: all 1s;
}

.showText{
  margin-left: 65%;
  transition: all 1s;
}

/* info-text style: */

.facts{
  color: white;
}

.fact a:hover{
  color:white;
}

h1{
  font-size: 18px;
}

.text{
  position: relative;
  margin: 10px 40px;
  font-size: 14px;
}

/* style "navbar" project site: */

.pr_title{
  position: relative;
  top:10px;
  text-align: center;
  z-index: -99;
}

.img_count{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom:10px;
}

#back{
  position: absolute;
  left: 20px;
}

#info_project{
  position: absolute;
  right:20px;
}

/* for the image container: */

.img_container{
  cursor: none;
  position: absolute;
  height: 85%;
  width: 80%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.images{
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  object-fit: contain;

}

#image{
  display: none;
}

#next{
  cursor: none;
  position: fixed;
  z-index:9999;
  display: none;
}

#prev{
  cursor: none;
  position: fixed;
  z-index:9999;
  display: none;
}


/* for the safe place project page: */

/* .sp_images .images{
  width: 80%;
  height: 80%;
} */


/* disable text selection: */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
